name: "publish-release"

on:
  push:
    branches:
      - main # Dispara a build quando você faz push na main

jobs:
  publish-tauri:
    permissions:
      contents: write
    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: "macos-latest" # Para .dmg e .app
          - platform: "ubuntu-22.04" # Para .deb e AppImage
          - platform: "windows-latest" # Para .msi e .exe

    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v4

      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version: lts/*

      - name: install Rust stable
        uses: dtolnay/rust-toolchain@stable

      - name: install dependencies (ubuntu only)
        if: matrix.platform == 'ubuntu-22.04'
        run: |
          sudo apt-get update
          sudo apt-get install -y libgtk-3-dev libwebkit2gtk-4.1-dev libayatana-appindicator3-dev librsvg2-dev

      - name: install frontend dependencies
        run: npm install # Ajuste para yarn ou pnpm se necessário

      - uses: tauri-apps/tauri-action@v0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tagName: v__VERSION__ # Substitui automaticamente pela versão no tauri.conf.json
          releaseName: "CLauncher v__VERSION__"
          releaseBody: "Build automática gerada pelo GitHub Actions."
          releaseDraft: true
          prerelease: false